header {
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    justify-content: space-between;
    background: var(--blackColor);
    color: var(--whiteColor);
}

header h1{
    color: var(--PrimaryColor);
}


header p{
    margin-top: 1em;
    font-size: 14px;
}


.hotelImg img{   
    width: 100%;
}