main section.HotelRooms h2{
    margin-top: .5em;
}

main section.HotelRooms .RoomsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
}

main section.HotelRooms .RoomsContainer .room{
    margin: 1em 3em;
}

main section.HotelRooms .RoomsContainer .room img{
    width: 300px;
    box-shadow: 2px 2px 2px #1e1e1e9d;
}

main section.HotelRooms .RoomsContainer .room h2,
main section.HotelRooms .RoomsContainer .room p{
    margin-top: .2em;
}

@media screen and (min-width: 800px) {
    main section.HotelRooms .RoomsContainer{
        width: 800px;
        justify-content: flex-start;
    }
}